// 引入默认全局样式
@import '@alifd/next/reset.scss';

.container {
  background-color: white;
  border-radius: 6px;
  padding: 20px;
  overflow: hidden;
}

.toolbar-select {
  width: 160px;
  margin-right: 15px;
}

.loading {
  width: 100%;
}

.operation-item {
  display: inline-block;
  margin: 1px 5px;
  text-decoration: none;
  color: #5485F7;
  cursor: pointer;
}

.disable-item {
  display: inline-block;
  margin: 1px 5px;
  text-decoration: none;
  color: #cccccc;
  cursor: not-allowed;
  &:hover {
    color: #cccccc;
  }
}

.hidden-item {
  display: none;
}

.my-pagination {
  margin: 20px 0;
  text-align: center;
}

.dialog {
  width: 800px;
}

.dialog-select {
  width: 50%;
}

.next-input.dialog-input {
  width: 100%;
}

.dialog-button {
  margin: 0 10px;
}

.next-form-preview.after-select {
  display: inline-block;
}

.status-on {
  display: inline-block;
  padding: 5px 10px;
  color: #46BC15;
  background: rgba(70, 188, 21, 0.25);
  border: 1px solid #46BC15;
  border-radius: 4px;
}

.status-off {
  padding: 5px 10px;
  color: #FCCC12;
  background: rgba(252, 204, 18, 0.25);
  border: 1px solid #FCCC12;
  border-radius: 4px;
}

.more-text {
  display: flex;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  line-height: 20px;
  span {
    display: -webkit-box; // 将对象作为弹性伸缩盒子模型显示
    flex: 1;
    overflow: hidden;
    -webkit-box-orient: vertical; // 设置子元素排列方式
    -webkit-line-clamp: 4; // 设置显示的行数，多出的部分会显示为...
  }
}

body {
  -webkit-font-smoothing: antialiased;
}